<h1><%= @user.name %></h1>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= link_to event.title, event %></li>
    <li><%= event.description %></li>
    <li><%= event.location %></li>
    <li><%= event.date %></li>
    <hr>
    <br>
  <% end %>
</ul>
<ul>
  <% @user.attended_events.each do |event| %>
    <%= link_to event.title, event %>
  <% end %>
</ul>
