<h1><%= @user.name %></h1>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= link_to event.title, event %></li>
    <li><%= event.description %></li>
    <li><%= event.location %></li>
    <li><%= event.date %></li>
    <hr>
    <br>
  <% end %>
</ul>

<h3>Past Events</h3>
<ul>
  <% @past_events.each do |event| %>
    <%= link_to event.title, event %>
  <% end %>
</ul>

<h3>Upcoming Events</h3>
<ul>
  <% @upcoming_events.each do |event| %>
    <%= link_to event.title, event %>
  <% end %>
</ul>
