<h1>Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.title, event %></li>
    <li><%= event.creator.name %></li>
    <li><%= event.description %></li>
    <li><%= event.location %></li>
    <li><%= event.date %></li>
    <hr>
<br>
  <% end %>
</ul>

