<h1><%= @event.title %></h1>
<p>Created by: <%= @event.creator.name %></p>

<p><%= @event.description %></p>

<p><%= @event.location %></p>

<p><%= @event.date %></p>
<h4>Attendees</h4>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= link_to attendee.name, attendee %></li>
    <% end %>
</ul>

<%= render 'attend_form' %>
<br>

<%= link_to '<< Back', events_path %>
