<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.nil? %>
        <%= link_to 'Sign Up', new_user_path %> | 
        <%= link_to 'Log In', new_session_path %>
      <% else %>
        <%= current_user.name %>
        <%= link_to 'Logout', logout_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
